.nav_container{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    height:82px;
    background-color: transparent; /*#BFD7FF*//*#CFB9A5;*/
    width: 100%;
    color: bisque;
  }

.nav_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    /* border: 1px solid #cfada5; */
}

.logoImage{
    margin: 5px;
    width: 40px;
    height: auto;
}

.name{
    float: left;
    display: flex;
    justify-content: flex-start;
}

.logo-text{
    padding: 10px 5px 5px 10px;
}
.name>h1{
    font-size: 30px;
    background: -webkit-linear-gradient(#eee, #a78824);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.name:hover{
    cursor: pointer;
}

.btn{
    float:right;
    font-size: 20px;
    margin: 10px;
    padding: 10px 25px;
    border: 2px solid bisque;
    border-radius: 10px;   
    cursor: pointer;
}

.btn:hover{
    color: #1E2D34;
    background-color: bisque;
    transition: ease-in 0.3s;
}