.swapbox-container{
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px rgba(23, 20, 18, 0.6);
    margin-left: auto;
    margin-right: auto; 
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 600px;
    min-height: 200px;
    background-color: #171412;
    color: rgb(255, 228, 196);
    padding: 16px;
    border-radius: 20px;
  }

  .header{
      font-size: 15px;
      text-align: left;
  }

  .from-container{
      position: relative;
      margin: 15px 0px;
      justify-content: space-between;
      padding: 10px;
      width: 95%;
      border-radius: 20px;
      background-color: transparent;
      border: 1px solid rgba(207, 173, 165,0.6) ;
      color: #cfada5;
  }

  .field-container{
      /* position: relative; */
      float: left;
      width: 95%;
      flex-direction: column;
  }

  .currency{
      float:left;
      width: auto;
  }

  .number-input{
      margin-top: 12px;
      padding-right: 5px;
      text-align: right;
      float: right;
      font-size: 18px;
      font-weight: 1000;
      color: #E9ECEB;
      background-image:linear-gradient(to right, #171412, #253741);
      border: none;
      outline: none;
      border-radius: 5px;
      width: 180px;
      height: 30px;
  }

  .swap-btn{
    float:right;
    font-size: 20px;
    margin: 10px;
    padding: 10px 25px;
    border: 2px solid bisque;
    color:bisque;
    border-radius: 8px;   
    cursor: pointer;
}

.swap-btn:hover{
    /* color: #1E2D34; */
    color: #cfada5;
    background-color: bisque;
    transition: ease-in 0.3s;
}